<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <p>첫번째 홈페이지 파일입니다</p>
        <img src="./image/cat1.jpg" alt="고양이 이미지">
        <input type="text">
        <input type="checkbox">
        <input type="checkbox">
        <br>
    </div>
    <div style="width: 100px;">
        <span style="width: 100px;">Html</span>
        <div style="height: 50px;">
            <span style="height: 100px;">Css</span>
        </div>
    </div>
    <div>
        <span style="padding: 20px 20px">JavaScript</span>
    </div>
</body>

</html>