/* 레이아웃 */
#header {background: url(/img/header_bg.jpg) repeat-x center top;  }
#nav {background-color: #f6fdff;}
#title {}
#contents {}
#footer {}

/* 컨테이너 */
.container {
    position: relative; 
    width: 1200px; 
    margin: 0 auto; 
    /* background: rgba(0,0,0,0.3) */
}

/* 헤더-헤더 */
.header {height: 327px;}
.header .header_menu {text-align: right;}
.header .header_menu a {
    color: #fff; 
    padding: 8px 0 6px 10px; 
    display: inline-block;
    transition: color 0.3s ease; 
    font-family: 'Abel', sans-serif;}
.header .header_menu a:hover {color: #ccc;}

/* 헤더-타이틀 */
.header .header_title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
    font-family: 'Abel', sans-serif;
}
.header .header_title h1 {
    font-size: 30px; 
    color: #fff; 
    background: #51b0dc; 
    display: inline-block; 
    padding: 5px 30px 5px 30px; 
    letter-spacing: 2px; 
    font-weight: 900;
    transition: box-shadow 0.25s ease-in-out;
}

.header .header_title a:hover {
    box-shadow:  /* 그림자 효과 */
        0 0 0 5px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

.header .header_icon { 
    text-align: center; 
    margin-top: 40px; 
    padding-bottom: 45px;
}

.header .header_icon li {
    display: inline; 
    margin: 0 2px;
}

.header .header_icon li a {
    position: relative;
    background-color: #3192bf;
    border-radius: 50%;
    width: 60px; 
    height: 60px;  
    color: #fff;
    display: inline-block;
    font-size: 35px;
    line-height: 60px;
    transition: all 0.3s ease;
}

.header .header_icon li a span {
    position: absolute; 
    opacity: 0;
    left: 50%; top: -40px;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1.6;
    background: #3192bf; 
    padding: 3px 9px;
    border-radius: 6px 0;
    transition: all 0.3s ease;
}

.header .header_icon li a:hover span {
    opacity: 1;
    top: -33px;
}


.header .header_icon li a:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* 전체 메뉴 영역 */
.nav {overflow: hidden; padding: 25px 0; display: ;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;}
.nav > div ol {overflow: hidden;}
.nav > div li {float: left; width: 50%; position: relative; padding-left: 8px; box-sizing: border-box;}
.nav > div:last-child li {width: 100%;}
.nav > div li:before {
    content: '';
    width: 3px; height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position: absolute; 
    left: 0; top: 8px;
}

.nav > div h3 {
    font-size: 18px; 
    color: #3a7fdf; 
    font-weight: bold; 
    margin-bottom: 4px;
}


.title h2 {
    font-family: 'Nanum Brush Script';
    cursive;
    font-size: 39px;
    color: #0093bd;
    padding: 5px 0;
}
.title .btn {
    position: absolute; right: 0; top: 5px;
    width: 60px; 
    height: 60px; 
    line-height: 60px; 
    background: #3192bf; 
    color: #fff;
    font-size: 35px; 
    border-radius: 50%;
    transition: all 0.3s ease;
}
.title .btn:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}



/* media query */
/* 화면 너비가 0 ~ 1220px */
@media (max-width: 1220px) {
    .container {width: 100%;}
    .row {padding: 0 15px;}
}