<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table test</title>
    <style>
        th {
            font-weight: bolder;
        }
        td {
            text-align: center;
            color: #0e0230;
        }
    </style>
</head>
<body>
    <table border="1" width="50%" height="200" align="center">
        <tr>
            <th colspan="6" style="background-color: #f3da39;">브랜드</th>
        </tr>
        <tr>
            <th rowspan="6" style="background-color: #e9e4e4;">애플</th>
            <td>노키아</td>
            <th rowspan="9" style="background-color: #457fd6; color: #fff;">삼성</th>
            <td>진에어</td>
            <th rowspan="5" style="background-color: #b53636; color: #fff;">넥슨</th>
            <td>카드라이더</td>
        </tr>
        <tr>
            <td>샤오미</td>
            <td>SK</td>
            <td>넷마블</td>
        </tr>
        <tr>
            <td>샤오미</td>
            <td>SK</td>
            <td>넷마블</td>
        </tr>
        <tr>
            <td>코보</td>
            <td>OK EN</td>
            <td>Rush N Cash</td>
        </tr>
        <tr>
            <td>천재교육</td>
            <td>메가스터디</td>
            <td>김밥나라</td>
        </tr>
        <tr>
            <td>라인</td>
            <td>소니</td>
            <th rowspan="4" style="background-color: #1d0101; color: #fff;">폴바세티</th>
            <td>공차</td>
        </tr>
        <tr>
            <th rowspan="3" style="background-color: #5fe664;">네이버</th>
            <td>구글</td>
            <td>다음</td>
            <td>야후</td>
        </tr>
        <tr>
            <td>오뚜기</td>
            <td>삼양</td>
            <td>농심</td>
        </tr>
        <tr>
            <td>두부</td>
            <td>전골</td>
            <td>냉면</td>
        </tr>
    </table>
</body>
</html>