<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Namch">
    <link rel="stylesheet" href="./css/main.css">
    <title>멀티콤퍼스(프론트엔드)</title>
</head>
<body>
    <!------------------ Main ---------------------->
    <h1 class="main_title"> 프론트엔드 웹 개발</h1>
    <div class="main_wrapper">
        <div class="main">
            <p>웹 프론트의 기본은 html5, CSS입니다.</p>
            <p>자바스크립트는 <span>html, CSS </span>와 <br>다른 구조의 언어입니다</p>
            <img src="./image/cat1.jpg" alt="고양이 이미지">
        </div>
        <div class="interface_wrapper">
            <div class="interface ui">
                <h2>사용자 입력 화면</h2>
                <input type="text"> 
                <input type="text" value="남찬호" disabled>
                <input type="text" placeholder="이름을 입력하세요"> 
            </div>
            <div class="interface box">
                <h2>체크박스</h2>
                <label>
                    <input type="checkbox" checked> 사과
                    <input type="checkbox"> 바나나
                    <input type="checkbox"> 오렌지
                </label>
            </div>
            <div class="interface radio">
                <h2>옥션버튼</h2>
                <label>
                    <input type="radio" name="fruit"> 사과
                    <input type="radio" name="fruit"> 바나나
                    <input type="radio" name="fruit"> 오렌지
                </label>
            </div>
            <div class="interface list">
                <h3>과일 이름</h3>
                <ul>
                    <li>사과</li>
                    <li>배</li>
                    <li>수박</li>
                    <li>오렌지</li>
                </ul>
            </div>
        </div>
        <div class="link">
            <div class="link_item">
                <h2 class="naver">Naver</h2>
                <a href="https://www.naver.com" target="_blank">네이버</a>
            </div>
            <div class="link_item">   
                <h2>Google</h2>
                <a href="https://www.google.com" target="_blank">구글</a>
            </div>
            <div class="link_item">
                <h2>Facebook</h2>
                <a href="https://www.Facebook.com" target="_blank">페이스북</a>
            </div>
        </div>
    </div>
    <div class="table_wraaper">

    </div>
</body>
</html>