<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테이블 작성하기</title>
    <style>
        ul {
            text-align: center;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table style="width: 75%;">
        <tr>
            <th colspan="3" style="background-color: aqua;">사용자 정보(명단)</th>
        </tr>
        <tr style="background-color: lightgray;">
            <th>구분</th>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
        </tr>
        <tr>
            <td rowspan="3">A반</td>
            <td>홍길동</td>
            <td>20</td>
            <td>남자</td>
        </tr>
        <tr>
            <td>김태그</td>
            <td>65</td>
            <td>남자</td>
        </tr>
        <tr>
            <td>이다음</td>
            <td>50</td>
            <td>여자</td>
        </tr>
    </table>

    <br><br><br><br><br><br>

    <table border="1" bgcolor="bluesky" bordercolor="blue" width="50%" height="200" align="center">
        <!-- 주석문 -->
        <th>1열 이름</th>
        <th>2열 이름</th>
        <th>3열 이름</th>

        <tr bgcolor="#11a9c1" align="center">
            <td>1행 1열</td>
            <td>1행 2열</td>
            <td>1행 3열</td>
        </tr>
        <tr>
            <td>2행 1열</td>
            <td>2행 2열</td>
            <td>2행 3열</td>
        </tr>
        <tr>
            <td colspan="3" align="center" bgcolor="skyblue">3행 1열</td>
        </tr>
    </table>
    <div class="interface list">
        <h3>과일 이름</h3>
        <ul>
            <li>사과</li>
            <li>배</li>
            <li>수박</li>
            <li>오렌지</li>
        </ul>
    </div>
</body>
</html>