<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Test</title>
    <style>
        body {
            background-image: url("./image/bg1.jpg");
            background-size: 100% auto;
            background-color: lightblue;
        }
        h1 {
            background-color: rgb(100, 100, 200);
        }
        p {
            background-color: rgb(200, 200, 100);
        }
        a:link {color: teal;}
        a:visited {color: purple; text-decoration: none;}
        a:hover {color: red;}

        img {
            border: 1px solid black;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>텍스트 요소</h1>
    <h1>제목1</h1>
    <h2>제목2</h2>
    <h3>제목3</h3>
    <h3><a href="#bookmark">RGB 색상 표현</a></h3>
    <hr>
    <p>단락입니다</p>
    <hr>
    <p> p태그 줄바꾸기 x (br태그 필요)<br>
    사이띄우기 기능 x <br>
    입력한 그대로 출력 x</p>
    <pre>
    pre태그 줄바꾸기 기능 o
    사이띄우기          기능 o
    입력한    그대로  출 력   기능 o
    </pre>
    <hr>
    <p>HTML <b>강조 글자</b> 입니다 (b태그)</p>
    <p>HTML <strong>강조 글자</strong> 입니다. 중요 부분에 사용 (strong태그)</p>
    <hr>
    <p>HTML <i>기울임 글자</i> 입니다 (i태그)</p>
    <p>HTML <em>기울임 글자</em> 입니다. 중요한 부분에 사용 (em태그)</p>
    <hr>
    <p> <mark>이 부분은</mark> 하이라이팅 부분입니다</p>
    <p> <del>이 부분은</del> 삭제한 것처럼 출력되는 부분입니다</p>
    <p> <lns>이 부분은</lns> 밑줄이 출력되는 부분입니다</p>
    <p>물을 나타내는 기호는 H<sub>2</sub>O</p>
    <hr>
    <h3>인용구</h3>
    <p>HTML의 정의는 <q>HyperText Markup Language</q>입니다.</p>
    <p><strong><abbr title="HyperText Markup Language">HTML5</abbr></strong>
    란 웹 문서를 제작하는 프로그래밍 언어인 HTML의 최신 규격입니다</p>
    <p>주소 입력</p>
    <address>
        서울별시 강남구<br>
        역삼동 123-45
    </address>
    <hr>
    <h3>엔티티</h3>
    <p>&lt;p&gt;태그를 &nbsp;&nbsp;&nbsp;&nbsp; 출력하려고 합니다.</p>
    <hr>
    <br><br>
    <h1 style="background-color: aquamarine;">기본 요소(style 적용)</h1>
    <p style="color: cornflowerblue">글자색을 style을 이용해 변경</p>
    <p style="font-size: 1.5rem;">글자크기를 style을 이용해 변경</p>
    <p style="text-align: center;">글자 위치를 style을 이용해 변경</p>
    <p style="text-align: center; font-size: 250%; color: darkblue; background-color: antiquewhite;">여러가지 기능</p>
    <hr>
    <h1><a name="bookmark"></a>RGB 색상 표현</h1>
    <p style="color: rgb(255, 0, 0);">RGB 색상을 적요한 값입니다</p>
    <p style="color: rgb(125, 125, 125);">RGB 색상을 적요한 값입니다</p>
    <p style="color: rgb(0, 255, 200);">RGB 색상을 적요한 값입니다</p>
    <h1>16진수로 색상 표현</h1>
    <p style="color: #000000;">RGB 색상을 적요한 값입니다</p>
    <p style="color: #00FF00;">RGB 색상을 적요한 값입니다</p>
    <p style="color: #0000FF;">RGB 색상을 적요한 값입니다</p>
    <hr>
    <h1>a 태그를 이용한 target 속성 설정</h1>
    <h3><a href="https://www.naver.com/" target="_blank">_blank</a></h3>
    <h3><a href="https://www.naver.com/" target="_self">_self</a></h3>
    <h3><a href="https://www.naver.com/" target="_parent">_parent</a></h3>
    <h3><a href="https://www.naver.com/" target="_top">_top</a></h3>
    <h3><a href="https://www.naver.com/" target="myframe">myframe</a></h3>

    <iframe name="myframe" width="100%" height="300px"></iframe>
    <hr>
    <img src="./image/cat1.jpg" alt="고양이">
    <img src="./image/cat1.jpg" alt="고양이" width="150" height="150">
    <img src="./image/cat1.jpg" alt="고양이" style="width: 150px; height: 150px;">
    <img src="./image/cat1.jpg" alt="고양이" style="width: 150px; height: 150px; border: 2px solid black;">
    
    <hr>
    <h2>이미지를 이용한 링크 연결</h2>
    <a href="main.html" target="_blank">
        <img src="./image/cat1.jpg" alt="고양이" style="width: 150px; height: 150px; border: 2px solid black;">
    </a>

    <hr>
    <h2>이미지 맵 만들기</h2>
    <img src="./image/cat1.jpg" alt="고양이" usemap="#catmap" 
    style="width: 150px; height: 150px; border: 2px solid black;">
    <map name="catmap">
        <area shape="rect" coords="90,60,10,130" href="https://ko.wikipedia.org/wiki/%EC%A7%84%EC%8B%A4" alt="진실">
        <area shape="rect" coords="90,60,180,130" href="https://ko.wikipedia.org/wiki/%EA%B1%B0%EC%A7%93" alt="거짓">
    </map>

    <hr>
    <h2>리스트 태그</h2>
    <p>검정색 원 모양 점(기본값)</p>
    <ul>
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ul>
    <p>흰색 원 모양</p>
    <ul type="circle">
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ul>
    <ul style="list-style-type: circle;">
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ul>
    <ul style="list-style-type: square;">
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ul>

    <hr>
    <h2>순서가 있는 리스트</h2>
    <ol>
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ol>
    <ol type="A">
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ol>
    <ol style="list-style-type: upper-alpha;">
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ol>
    <ol style="list-style-type: lower-roman;">
        <li>사과</li>
        <li>배</li>
        <li>포도</li>
    </ol>

    <hr>
    <h2>정의 목록(리스트)</h2>
    <dl>
        <dt>HTML</dt>
        <dd>웹 문서를 제작하는 프로그래밍 언어</dd>
        <dt>CSS</dt>
        <dd>웹 문서를 디자인하는 스타일 시트 언어</dd>
    </dl>
</body>
</html>