<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 프로필</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        section {
            width: 500px;
            padding: 15px;
            border: 5px solid gray;
        }
    </style>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="container">
        <section>
            <h2>자기 소개</h2>
            <p class="bluetext">프론트엔드 개발자입니다 프론트엔드 웹 기술에 관심이 많습니다 <br>
                감사합니다. 또 감사합니다.</p>
            <p style="font-size: 10pt; color: rgb(13, 131, 241);">프론트엔드 개발자입니다프론트엔드 웹 기술에 관심이 많습니다 <br>
                감사합니다. 또 감사합니다.</p>
            <p>프론트엔드 개발자입니다 프론트엔드 웹 기술에 관심이 많습니다 <br>
                감사합니다. 또 감사합니다.</p>
        </section>
    </div>
    <div id="div-class">
        <h1>블루베리에 관한 연구</h1>
        <h2 class="accent">블루베리와 항산화 효능</h2>
        <p class="bluetext">블루베리는 항산화제인 안토시아닌과 폴리페놀을 다량 포함하고 있습니다.</p>
        <p>매사츄세츠 보스톤에 있는 USDA 노화에 관한 인류 영양 연구센터 (the USDA Human Nutrition Research Center on Aging) 의 자료에 의하면
            블루베리는 과일 중에서 가장 <span class="bluetext"> 항산화 작용 </span>이 뛰어난 과일이라고 합니다.  </p>
        <h2 class="bluetext">블루베리와 노화</h2>
        <p> USDA 인류 영양 연구센터(the USDA Human Nutrition Research Center) 실험실에서 신경과학자들은 쥐들에게 블루베리를 먹임으로써
            노화에 의한 인지능력의 손실을 예방해 준다는 사실을 발견하였습니다. </p>
    </div>
</body>

</html>