<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <form>
        <div style="width: 50%;">
            <br>
            <form action="" method="post">
                <fieldset>
                    <legend>계정 생성</legend>
                    <div>
                        <label for="id">아이디 : </label>
                        <input type="text" id="id" size="20" required placeholder="아이디를 입력해 주세요.">
                        <input type="submit" value="확인">
                    </div>
                    <div>
                        <label for="pwd">비밀번호 : </label>
                        <input type="password" id="pwd" size="20">
                    </div>
                </fieldset>
                <br>
                <div>
                    <fieldset>
                        <legend>필수입력</legend>
                        <div>
                            <label for="name" size="20">이름 : </label>
                            <input type="text" id="user-name" size="20" autofocus required>
                        </div>
                        <div>
                            <label for="user-date">생년월일 : </label>
                            <input type="date" id="user-date" min="2023-07-08" max="2023-12-31">
                        </div>
                        <div>
                            <label for="age" size="20">나이 : </label>
                            <input type="text" id="user-age" size="5">
                        </div>
                        <div>
                            <label for="ss">성별 : </label>
                            <input type="radio" name="ss" checked> 남자
                            <input type="radio" name="ss"> 여자
                        </div>
                        <div>
                            <label for="habit">취미 : </label>
                            <input type="checkbox" value="h1" checked> 등산
                            <input type="checkbox" value="h1"> 낚시
                            <input type="checkbox" value="h1"> 게임
                            <input type="checkbox" value="h1"> 독서
                        </div>
                        <div>
                            <label for="profile">프로필 이미지 등록 : </label>
                            <input type="submit" value="파일 선택"> 선택된 파일 없음
                        </div>
                        <div>
                            <label for="tel">전화번호 : </label>
                            <input type="text" id="tel" size="20">
                        </div>
                        <div>
                            <label for="email">이메일 : </label>
                            <input type="text" id="email" size="20">
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>SNS (선택입력)</legend>
                        <div>
                            <label for="sns" size="20">SNS 주소 : </label>
                            <input type="text" id="user-sns" size="20">
                        </div>
                        <div>
                            <label for="sns_d">SNS 인기도 등급(1~5) : </label>
                            <input type="range" min="1" max="5" value="1">
                        </div>
                        <div>
                            <label for="keyword">검색 키워드 : </label>
                            <input type="text" id="keyword" size="20">
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>추가 정보 (선택입력) </legend>
                        <div>
                            <label for="user-color">좋아하는 색 : </label>
                            <input type="color" id="user-color" value="#000">
                        </div>
                        <div>
                            <label for="user-sleep">취침시간 : </label>
                            <input type="time" id="user-sleep">
                        </div>
                        <div>
                            <label for="user-datetime"> 희망 알람 날짜 및 시간 : </label>
                            <input type="datetime-local" id="user-datetime">
                        </div>
                    </fieldset>

                    <div>
                        <input type="submit" value="회원가입">
                        <button type="reset">다시입력</button>
                        <input type="button" value="이벤트버튼" onclick="window.open('templates/03/space.html')">
                    </div>
            </form>
        </div>
</body>

</html>