<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="post" action="">
    <div class="container">
      <div class="insert">

        <table>
          <caption>
            <h2>회원가입 양식</h2>
          </caption>
          <tr>
            <td class="col1">아이디</td>
            <td class="col2">
              <input type="text" name="id" maxlength="10" value=<%= id %>>
              <input class='but1' type="button" value="중복확인" onclick="">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</body>

</html>