<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/singup.css">
  <title>회원가입</title>
</head>

<body>
  <form method="post" action="/singup_process" name="form">
    <div class="container">
      <div class="insert">

        <table>
          <caption>
            <h2>회원가입</h2>
          </caption>
          <tr>
            <td class="col1">아이디</td>
            <td class="col2">
              <input type="text" name="id" maxlength="10">
              <!-- <input class='but1' type="button" value="중복확인" onclick="checkId(form)"> -->
            </td>
          </tr>
          <tr>
            <td class="col1">비밀번호</td>
            <td class="col2">
              <input type="password" name="pwd" maxlength="16">
              <p>※비밀번호는 <span class="num">문자, 숫자, 특수문자(~!@#$%^&*)의 조합
                  10 ~ 16자리</span>로 입력이 가능합니다.</p>
            </td>
          </tr>
          <tr>
            <td class="col1">비밀번호 확인</td>
            <td class="col2"><input type="password" name="pwdCheck" maxlength="16"></td>
          </tr>
          <tr>
            <td class="col1">이름</td>
            <td class="col2"><input type="text" name="name" maxlength="5"></td>
          </tr>
          <tr>
            <td class="col1">휴대폰</td>
            <td class="col2"><input type="text" name="hp"></td>
          </tr>
          <tr>
            <td class="col1">이메일</td>
            <td class="col2">
              <input type="text" name="mailid">
              <span class="a">@</span>
              <input type="text" name="email">
              <select name="mailslc"  onchange="checkEmail(this.from)">
                <option value="" selected>직접입력</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="daum.com">daum.com</option>
                <option value="yahoo.com">yahoo.com</option>
              </select>
              <!-- <input class='but2' type="button" value="이메일 중복확인" onclick=""> -->
            </td>
          </tr>
        </table>
      </div>
      <div class="create">
        <input class="but3" type="button" value="가입취소" onchick="">
        <input class="but4" type="button" value="회원가입" onclick="formCheck(this.form)">
      </div>
    </div>
  </form>
  <p><%= msg%></p>
  <script src="/javascripts/singupadd.js"></script>
</body>

</html>