<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문단 스타일</title>
    <style>
        p{
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }

        .align-left {text-align: left;}
        .align-right {text-align: right;}
        .align-center {text-align: center;}
        .align-justify {text-align: justify;}


        .content {
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }

        .content:hover {
            overflow: visible;
        }
    </style>
</head>
<body>
    <h1>텍스트 정렬</h1>
    <p class="align-left">슈퍼푸드는 인체 노화 분야의 세계적 권위자인 스티븐 프랫 박사가
        2004년에 쓴 ‘난 슈퍼푸드를 먹는다’라는 책의 제목에서 유래된 단어입니다. 
        슈퍼푸드의 종류와 범위는 명확하게 정해져 있지는 않으나, 열량과 지방함량이 
        낮고 비타민, 무기질, 항산화 영양소, 섬유소를 포함한 생리활성물질인 
        "파이토케미컬"을 함유하고 있는 식품들을 의미합니다.</p>

    <p class="align-right">슈퍼푸드는 인체 노화 분야의 세계적 권위자인 스티븐 프랫 박사가
        2004년에 쓴 ‘난 슈퍼푸드를 먹는다’라는 책의 제목에서 유래된 단어입니다. 
        슈퍼푸드의 종류와 범위는 명확하게 정해져 있지는 않으나, 열량과 지방함량이 
        낮고 비타민, 무기질, 항산화 영양소, 섬유소를 포함한 생리활성물질인 
        "파이토케미컬"을 함유하고 있는 식품들을 의미합니다.</p>

    <p class="align-center">슈퍼푸드는 인체 노화 분야의 세계적 권위자인 스티븐 프랫 박사가
        2004년에 쓴 ‘난 슈퍼푸드를 먹는다’라는 책의 제목에서 유래된 단어입니다. 
        슈퍼푸드의 종류와 범위는 명확하게 정해져 있지는 않으나, 열량과 지방함량이 
        낮고 비타민, 무기질, 항산화 영양소, 섬유소를 포함한 생리활성물질인 
        "파이토케미컬"을 함유하고 있는 식품들을 의미합니다.</p>

    <p class="align-justify">슈퍼푸드는 인체 노화 분야의 세계적 권위자인 스티븐 프랫 박사가
        2004년에 쓴 ‘난 슈퍼푸드를 먹는다’라는 책의 제목에서 유래된 단어입니다. 
        슈퍼푸드의 종류와 범위는 명확하게 정해져 있지는 않으나, 열량과 지방함량이 
        낮고 비타민, 무기질, 항산화 영양소, 섬유소를 포함한 생리활성물질인 
        "파이토케미컬"을 함유하고 있는 식품들을 의미합니다.</p>

        <p class="content"></p>
</body>
</html>