<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/login.css">
    <title>로그인 화면</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="title">
                <i class="fab fa-pied-piper-square"></i>
                <a href="/">Home</a>
            </div>
            <div class="menu_bar">
                <ul>
                    <li><a href="">show</a></li>
                    <li><a href="">test</a></li>
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="background">
            <form method="post" action="/login">
                <ul>
                    <li>
                        <label>아이디: </label>
                        <input type="text" name="id" placeholder="아이디를 입력하세요">
                    </li>
                    <li>
                        <label>비밀번호: </label>
                        <input type="password" name="password" placeholder="비밀번호를 입력하세요">
                    </li>
                </ul>
               
                <button type="submit">로그인</button>
            </form>
        </div>
    </section>
</body>
</html>