@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #8fd143;
  background: rgb(143, 209, 67);
  background: linear-gradient(
    90deg, 
    rgba(143, 209, 67, 1) 0%,  
    rgb(182, 234, 122, 1) 50%
    );
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;  /* aliased를 제거  auto: 브라우저가 결정 */
}

.login-page {
  width: 360px;    
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;    /* 요소 자신을 기준으로 */
  z-index: 1;
  background: #ffffff;
  max-width: 360px;      /* 최대 너비 */
  margin: 0 auto 100px;  /* 위쪽, 오른쪽, 아래쪽 마진 */
  padding: 45px;         /* 위쪽, 오른쪽, 아래쪽 패딩 */
  text-align: center;    /* 텍스트 정렬 */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 
              0 5px 5px 0 rgba(0, 0, 0, 0.24);  /* 그림자 효과 */
}

.form .login-text {
  font-family: "Roboto", sans-serif;
  outline: 0;           /* 외곽선 제거 */
  background: #d7d5d5;  /* 배경색 */
  width: 100%;          /* 너비 */
  border: 0;            /* 테두리 */
  margin: 0 0 15px;     /* 위쪽, 오른쪽, 아래쪽 마진 */
  padding: 15px;        /* 위쪽, 오른쪽, 아래쪽, 왼쪽 패딩 */
  box-sizing: border-box;  /* 요소의 너비와 높이를 계산하는 방법을 지정 */
  font-size: 14px;      /* 글자 크기 */
}

.form .login-input {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;  /* 텍스트 대문자로 변환 */
  outline: 0;                 /* 외곽선 제거 */
  background: #4375d1;
  width: 100%;               /* 너비 */
  border: 0;                 /* 테두리 */
  padding: 15px;             /* 위쪽, 오른쪽, 아래쪽, 왼쪽 패딩 */
  color: #fff;             /* 글자색 */
  font-size: 14px;           /* 글자 크기 */
  -webkit-transition: all 0.3 ease;  /* 트랜지션 효과 */
  transition: all 0.3 ease; 
  cursor: pointer;           /* 커서 */
}

.form button:hover, .form button:active, .form button:focus {
  background: #3e8e41;  /* 배경색 */
}

.form .message {
  margin: 15px 0 0;  /* 위쪽, 오른쪽, 아래쪽 마진 */
  color: #b3b3b3;    /* 글자색 */
  font-size: 12px;   /* 글자 크기 */
}

.form .message a {
  color: #4375d1;    /* 글자색 */
  text-decoration: none;  /* 텍스트에 밑줄을 긋거나 없앰 */
}