<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>box model</title>
    <style>
        div {
            margin: 20px;
            border: 1px solid gray;
            border-radius: 10px;
        }

        #inline img {
            margin: 10px;
        }
        #block img {
            display: block;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="inline">
        <img src="./image/pic1.jpg" alt="인형 이미지">
        <img src="./image/pic1.jpg" alt="인형 이미지">
        <img src="./image/pic1.jpg" alt="인형 이미지">
    </div>
    <div id="block">
        <img src="./image/pic1.jpg" alt="인형 이미지">
        <img src="./image/pic1.jpg" alt="인형 이미지">
        <img src="./image/pic1.jpg" alt="인형 이미지">
    </div>
</body>
</html>