<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>box model</title>
    <style>
        div {
            margin: 20px;
            border: 1px solid gray;
            border-radius: 10px;
        }
        #inline img {
            /* 블록 요소를 인라인 요소로 */
            margin: 10px;
        }
        #block img{
            /* 인라인 요소를 블록 요소로 */
            display: block;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="inline">
        <img src="./images/pic1.jpg" alt="인형 이미지">
        <img src="./images/pic2.jpg" alt="인형 이미지">
        <img src="./images/pic3.jpg" alt="인형 이미지">
    </div>
    <div id="block">
        <img src="./images/pic1.jpg" alt="인형 이미지">
        <img src="./images/pic2.jpg" alt="인형 이미지">
        <img src="./images/pic3.jpg" alt="인형 이미지">
    </div>
</body>
</html>