<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            width: 200px;
            height: 100px;
            margin: 30px;
            display: inline-block; /* 인라인 블록 요소(가로로 배치)에 따른 margin 값 이해 */
        }
        #box1 {background: #0095ff;}
        #box2 {background: #ff0095;}
        #box3 {background: #95ff00;}
    </style>
</head>

<body>
    <div id="box1"></div>
    <div id="box2"></div>
    <div id="box3"></div>
</body>
</html>